---
layout: layout.njk 
permalink:
  serverless: /
---

{% set nextMatch = futureMatches[0] %}
<p>
    Carlos Alcaraz is next playing:</p>
<p id="local-time-string"></p>
<p>
    <time id="next-match-time" datetime="{{ nextMatch.start_at | toUTCString }}">
        {{ nextMatch.start_at | toUTCString | toUTCFormattedString }}
    </time>
</p>
<p>He is playing in the {{ nextMatch.round_info.name }} of {{ nextMatch.season.name }}.</p>
<p>Last updated: {{ buildTime }}</p>
<script>{% include 'local-time.js' %}</script>